.login
    margin: 0 auto
    height: 100vh
    // height: 500px
    width: 100%
    display: flex
    background-color: #fee757
    
    &-container
        margin: auto
        border-radius: 20px
        height: 250px
        width: 400px
        background-color: #fed924
        &-form
            margin-top: 50px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            &-input
                width: 200px
                height: 30px
                padding: 20px
                margin-bottom: 10px
                border: none
                border-radius: 5px
                font-weight: 400
                letter-spacing: 0.5px
                box-sizing: border-box
                color: rgb(134, 134, 134)
                background-color: rgb(240, 240, 240)
        
                
        &-title
            font-weight: 600
            letter-spacing: 1px
            color: black
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
            font-size: 30px
            font-weight: 400
            text-align: center
            letter-spacing: 1px      


       
            

    
    
    
   
